<div class="row">
	<div class="col-md-12">
		
		<ul class="nav nav-tabs">
			<li ng-class="{ 'active': isActiveTab('manual') }"><a ng-click="setActiveTab('manual')">Manual Import</a></li>
			<li ng-class="{ 'active': isActiveTab('batch') }"><a ng-click="setActiveTab('batch')">Batch Import</a></li>
			<li ng-class="{ 'active': isActiveTab('guild') }"><a ng-click="setActiveTab('guild')">Guild Import</a></li>
		</ul>

		<div class="tab-content">
			<div class="row">
				<div class="col-md-7">
					<div class="well">
						<div ng-if="isActiveTab('manual')" ng-include="'views/tabs/manual.html'"></div>
						<div ng-if="isActiveTab('batch')" ng-include="'views/tabs/batch.html'"></div>
						<div ng-if="isActiveTab('guild')" ng-include="'views/tabs/guild.html'"></div>
					</div>
				</div>
				<div class="col-md-5">
					<progressbar class="progress character-loader" ng-show="shouldShowProgress()" max="100" value="( batchStats.loaded * 100 ) / batchStats.total">
						{{ batchStats.loaded }} / {{ batchStats.total }}
					</progressbar>
					<div class="well">
						<div class="form-group">
							<label for="orderBy">Order by:</label>
							<select class="form-control" id="orderBy" ng-model="filterOptions.sort" ng-change="setSortDirection()">
								<option value="">Import Order</option>
								<option value="name">Name</option>
								<option value="ilvl.equipped">Item Level</option>
							</select>
						</div>
						<div class="form-group">
							<label for="defaultDifficulty">Default difficulty:</label>
							<select class="form-control" id="defaultDifficulty" ng-model="filterOptions.difficulty" ng-options="d as d for d in difficulties"></select>
						</div>
						<button type="button" class="btn btn-warning" ng-click="clearImports()">Remove All Imported Players</button>
					</div>
					<div class="alert alert-warning" ng-show="failuresExist()">
						<button type="button" class="close" ng-click="clearFailures()">&times;</button>
						<p><strong>Failed to load the following:</strong></p>
						<ul>
							<li ng-repeat="failure in failures">
								{{ failure.name }} - {{ failure.realm }} (<armory-link region="imports.bnetRegion" realm="failure.realm" name="failure.name" type="failure.type">armory</armory-link>)
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="row outer-row" ng-repeat="player in players | orderBy:filterOptions.sort:filterOptions.reverse">
	<div class="col-md-12">
		<div class="row toon-row">

			<div class="col-md-1 avatar">
				<div class="class-colors class-{{ player.classID }}"></div>
			</div>

			<div class="col-md-2 name">
				<span>
					<strong>
						<armory-link region="imports.bnetRegion" realm="player.realm" name="player.name">{{ player.name }}</armory-link>
					</strong>
				</span>
				<br>
				<span>{{ player.currentSpec }} {{ player.class }}</span>
			</div>

			<div class="col-md-1 ilvl">
				<span>{{ player.ilvl.equipped }}</span>
			</div>

			<div class="col-md-2 audit">
				<span audit-tooltip audit-data="player.audit" class="glyphicon glyphicon-exclamation-sign"></span>
				<span audit-tooltip audit-data="player.audit" class="glyphicon glyphicon-question-sign"></span>
				<span audit-tooltip audit-data="player.audit" class="glyphicon glyphicon-ok-sign"></span>
			</div>

			<div class="col-md-5 progression">
				<raid-progress raid="player.progression[ getCurrentTier() ]" difficulty="filterOptions.difficulty"></raid-progress>
			</div>

			<div class="col-md-1 expando">
				<button class="btn btn-default" ng-click="toggleDetails($index)">
					<span class="glyphicon" ng-class="{ 
						'glyphicon-chevron-down': !shouldShowDetails($index),
						'glyphicon-chevron-up': shouldShowDetails($index)
					}"></span>
				</button>
			</div>

		</div>

		<div class="row details-row" collapse="!shouldShowDetails($index)">
			<div class="col-md-10 col-md-offset-1 details">
				<div class="row">
					<div class="col-md-4">
						<h3>Character Details</h3>
						<ul class="toon-details">
							<li><strong>Class:</strong> {{ player.class }}</li>
							<li><strong>Race:</strong> {{ player.race }}</li>
							<li><strong>Spec:</strong> {{ player.specs[ 0 ] }} / {{ player.specs[ 1 ] }}</li>
							<li><strong>Equipped Item Level:</strong> {{ player.ilvl.equipped }}</li>
							<li><strong>Overall Item Level:</strong> {{ player.ilvl.overall }}</li>
						</ul>
					</div>

					<div class="col-md-8">
						<h3>Audit Results</h3>
						<div audit audit-data="player.audit"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3>Progression</h3>
						<player-raid ng-repeat="raid in raids" raid="raid" difficulties="difficulties" progression="player.progression[ raid.key ]">
						</player-raid>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>