.container {
	margin-bottom: 100px;
}

.toon-row {
	height: 68px;
	margin-top:10px;
	border: 1px solid #ddd;
	padding: 8px;
}

.avatar .thumb {
	width: 50px;
	height: 50px;
}

.ilvl {
	font-size: 28px;
	line-height: 46px;
}

.audit .glyphicon {
	font-size: 28px;
	margin-left: 10px;
	line-height: 46px;
}

.audit .glyphicon-exclamation-sign.active {
	color: #A94442;
	opacity: 1;
}

.audit .glyphicon-exclamation-sign.inactive {
	color: #EBCCD1;
	opacity: .3;
}

.audit .glyphicon-question-sign.active {
	color: #8A6D3B;
	opacity: 1;
}

.audit .glyphicon-question-sign.inactive {
	color: #FAEBCC;
	opacity: .3;
}

.audit .glyphicon-ok-sign.active {
	color: #3C763D;
	opacity: 1;
}

.audit .glyphicon-ok-sign.inactive {
	color: #D6E9C6;
	opacity: .3;
}

.progression .progress {
	position: relative;
	height: 20px;
}

.progression .progress.main {
	height: 45px;
}

.progression .progress.main span {
	line-height:45px;
}

.progression .progress.main span.glyphicon {
	height: 45px;
	line-height: 45px;
	padding: 0 5px;
}

.progression .progress:first-child {
	margin-bottom: 8px;
}

.progression .progress span {
	position: absolute;
	display: block;
	text-align: center;
	width: 100%;
	color: #333;
}

.progress.character-loader span {
	color: white;
}

.progression .progress span.glyphicon {
	width: 50%;
	line-height: 18px;
	opacity: 0.1;
	z-index: 2;
}

.progression .progress span.glyphicon:hover {
	opacity: 1;
	cursor: pointer;
}

.progression .progress span.glyphicon.right {
	right: 0;
	text-align: right;
}

.progression .progress span.glyphicon.left {
	left: 0;
	text-align: left;
}

.progression .progress .progress-done {
	background-color: #D6E9C6;
}

.progression .progress .progress-50todone {
	background-color: #FAEBCC;
}

.progression .progress .progress-0to50 {
	background-color: #EBCCD1;
}

.expando {
	line-height: 42px;
}

.details .toon-details {
	list-style-type: none;
	padding-left: 0;
}

.details {
	border: 1px solid #ddd;
	border-top: 0;
	margin-bottom: 14px;
}

.progress.inactive {
	opacity: .2;
}

.tab-content {
	padding-top:10px;
}

.nav.nav-tabs li:hover {
	cursor: pointer;
}

.class-colors {
	height: 50px;
	width: 50px;
	opacity: 0.7;
	border-radius: 10px;
}

.class-colors.class-6 {
	background-color: #C41F3B;
}

.class-colors.class-11 {
	background-color: #FF7D0A;
}

.class-colors.class-3 {
	background-color: #ABD473;
}

.class-colors.class-8 {
	background-color: #69CCF0;
}

.class-colors.class-10 {
	background-color: #00FF96;
}

.class-colors.class-2 {
	background-color: #F58CBA;
}

.class-colors.class-5 {
	background-color: #FFFFFF;
	border: 1px solid #333;
}

.class-colors.class-4 {
	background-color: #FFF569;
	border: 1px solid #333;
}

.class-colors.class-7 {
	background-color: #0070DE;
}

.class-colors.class-9 {
	background-color: #9482C9;
}

.class-colors.class-1 {
	background-color: #C79C6E;
}

.popover-content ul, ul.progress-tooltip {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

ul.progress-tooltip li.unkilled {
	opacity: 0.3;
}

.progress.simple-progress {
	cursor: default;
}

/* animation stuff */
.fade-in {
	-webkit-animation-duration: 0.5s;
	-webkit-animation-name: fadein;
}

.spin {
	-webkit-animation-duration: 1s;
	-webkit-animation-name: spin;
}

.perma-spin {
	-webkit-animation-duration: 1s;
	-webkit-animation-name: spin;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate( 0deg );
	}
	to {
		-webkit-transform: rotate( 360deg );
	}
}