<p>Select a region, realm, and enter a guild's name. This will load all level 90 members and might take a while.</p>
<form name="guildImportForm" class="form-inline" novalidate>
	<div class="form-group">
		<region-select regions="regions" model="imports.bnetRegion" change="changeRegion"></region-select>
		<realm-select realms="realms" model="imports.realm"></realm-select>
		<input type="text" class="form-control" placeholder="Guild Name" ng-model="imports.guild.name" required>
	</div>
	<button type="submit" class="btn btn-primary" ng-disabled="isSubmitDisabled( guildImportForm )" ng-click="loadGuild()">
		<span ng-show="!currentlyLoading()">Add</span>
		<span class="glyphicon glyphicon-adjust perma-spin" ng-show="currentlyLoading()"></span>
	</button>
</form>