<p>Select a region, realm, and enter a player's name.</p>
<form name="manualImportForm" class="form-inline" novalidate>
	<div class="form-group">
		<region-select regions="regions" model="imports.bnetRegion" change="changeRegion"></region-select>
		<realm-select realms="realms" model="imports.realm"></realm-select>
		<input type="text" name="name" class="form-control" placeholder="Name" ng-model="imports.individual.name" required>
	</div>
	<button type="submit" class="btn btn-primary" ng-disabled="isSubmitDisabled( manualImportForm )" ng-click="addPlayer()">
		<span ng-show="!currentlyLoading()">Add</span>
		<span class="glyphicon glyphicon-adjust perma-spin" ng-show="currentlyLoading()"></span>
	</button>
</form>